/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap');

$font1: 'poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font2: 'Montserrat Subrayada', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font3: 'oswald', 'Montserrat Subrayada', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

$color1 : rgb(17,18,26);
$color1_grad : linear-gradient(0deg, rgba(17,18,26,1) 40%, rgba(5,6,12,1) 100%);
$color2 : #ffffff;
$color3 : #4396c5;
$color4 : #000000;

html{
    height : 100%;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin : 0;
    padding : 0;
    width : 100%;
    height: 100%;
    position: relative;
    font-size: 1vw;
}

.background{
    position: fixed;
    top : 0;
    left : 0;
    width : 100%;
    height : 100%;
    background: $color1_grad;
    z-index: 0;
    canvas{
        position: absolute;
        top : 0;
        left : 0;
        width : 100%;
        height : 100%;
        z-index: 1;    
    }
    img{
        width : 100%;
        bottom : 0;
        left : 0;
        z-index: 2;
        position: absolute;
    }
}

.container{
    position: relative;
    width: 100%;
    z-index: 10;
}

#nav{
    height: 100%;
    width :20%;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: center;
    z-index: 100;

    .menu{
        display: block;
        box-sizing: border-box;

        a{
            font-family: $font2;
            font-size : 1.4em;
            font-weight: 700;
            text-decoration: none;
            color: $color2;
            display: block;
            box-sizing: border-box;
            line-height: 2.6em;
            transition : font-size .3s, color .3s;
            &:hover{
                color : $color2;
            }
        }
        a.selected{
            color : $color2;
        }
    }
}


.content{
    width : 100%;
    height : 100%;
}

#home{
    box-sizing: border-box;
    color : $color2;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;

    .top{
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -10%;
    }

    .dp{
        img{
            min-width: 180px;
            min-height: 180px;
            width : 14em;
            height : 14em;
            border-radius: 200px;
            border : solid .73em rgba(255, 255, 255, .1);
        }
    }
    .description{
        padding: 0 3.7em ;
        .name{
            font-size: 2.92em;
            font-family: $font1;
            letter-spacing: 1px;
            font-weight: 700;
        }
        .tagline{
            font-family: $font2;
            font-size: 1.32em;
            font-weight: 700;
            background-color: $color3;
            padding : 5px 10px;
            letter-spacing: .5px;
            margin-top: 1.1em;
        }
        .social{
            margin-top: 2.2em;
            display: flex;
            text-align: center;
            .icon{
                font-size: 2.7em;
                padding: 0 .3em 0 0;
                text-decoration: none;
                color : $color2;
                span{
                    display: block;
                    font-family: $font3;
                    text-transform: uppercase;
                    font-size: .73vw;
                    background-color: $color3;
                    padding: 2px;
                    transform: scale(0, 0);
                    transition: transform .3s;
                }
                &:hover span{
                    transform: scale(1, 1);
                }
            }
        }
    }
    .bottom{
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 0;
        left : 0;
        width : 100%;
        padding-bottom: 3%;
    }
}


.content{
    #home{
        display: none;
    }
}


#about{
    box-sizing: border-box;
    color : $color2;
    min-height: 100vh;
    padding-left: 20%;
    display: block;
    position: relative;
    padding-right: 40px;
    .heading{
        padding : 40px 0;
        .name{
            font-family: $font1;
            font-size: 40px;
            font-weight: 700;

        }
        .tagline{
            background-color: $color3;
            font-family: $font2;
            font-size: 15px;
            font-weight: 700;
            padding: 3px 5px;
            display: inline-block;
        }
    }

    .topic{
        .title{
            font-family: $font1;
            font-size: 36px;
            font-weight: 700;
            padding: 10px 0 20px;
            .em{
                background-color: $color3;
                padding: 0 5px 0 0;
            }
        }
        .description{
            .text{
                font-family: $font1;
                font-size: 18px;
                padding : 0 30px;
                box-sizing: border-box;
                border-left : solid 1px $color3;
            }
        }

        .timeline{
            .item{
                position: relative;
                box-sizing: border-box;
                padding-left : 100px;
                padding : 30px 0 30px 100px;
                .text{
                    .from, .to{
                        font-family: $font2;
                        font-size: 12px;
                        position : absolute;
                        line-height: 15px;
                        right : calc(100% + 20px);                    
                    }
                    .from{
                        top : -12px;
                    }
                    .to{
                        bottom : -12px;
                    }
                    position: relative;
                    padding : 0 0 0 30px;
                    border-left : solid 3px $color3;
                    box-sizing: border-box;                    
                    .caption{
                        font-family: $font1;
                        font-size: 20px;
                        font-weight: 700;
                        padding-bottom: 15px;
                    }
                    .brief{
                        .line{
                            font-family: $font1;
                            font-size: 14px;
                            font-style: italic;
                            padding: 2px 0;
                            a{
                                color : $color2;
                            }
                        }
                    }
                    &::before, &::after{
                        content : '';
                        width : 15px;
                        height : 15px;
                        display: block;
                        box-sizing: border-box;
                        border : solid 3px $color3;  
                        position: absolute;
                        left: -9px;
                    }
                    &::before{
                        top: -12px;
                    }
                    &::after{
                        bottom : -12px;
                    }
                }
            }
        }

        .treeset{
            .item_list{
                display: flex;
                justify-content: center;
                padding-top: 20px;
                .item{
                    .caption{
                        font-family: $font2;
                        font-size: 16px;
                        background-color: $color3;
                        padding: 10px 20px;
                        margin: 0 20px;
                    }
                    .subtree{
                        display: none;
                        position: absolute;
                        left : 0;
                        top : 35vh;
                        width : 100%;
                        justify-content: center;
                        .subitem{
                            font-family: $font1;
                            padding : 5px 25px;
                            border : solid 2px $color2;
                            border-radius: 15px;
                            margin: 10px;
                            font-size: 16px;
                        }
                    }
                }
            }
            .connector{
                height : 25vh;
                width : 100%;
                .board{
                    height : 100%;
                    width : 100%;
                }
            }
            .subtree{
                display: flex;
                width : 100%;
                justify-content: center;
                .subitem{
                    font-family: $font1;
                    padding : 5px 25px;
                    border : solid 2px $color2;
                    border-radius: 15px;
                    margin: 0 10px;
                    font-size: 16px;
                }
            }
        }
    }

    .right_submenu{
        width: 100vh;
        transform-origin: bottom left;
        transform: rotate(-90deg);
        position: fixed;
        bottom: 0;
        left: 100vw;
        .list{
            display: flex;
            width : 100%;
            justify-content: center;
            // align-items: center;
            .item{
                padding: 0 10px;
                line-height: 50px;
                a{
                    text-transform: uppercase;
                    text-decoration: none;
                    color: $color2;
                    font-family: $font1;
                    letter-spacing: 3px;
                    font-size: 12px;
                    font-weight: 700;
                    &::after{
                        content : '';
                        display: inline-block;
                        width : 3px;
                        height : 3px;
                        background-color: $color3;
                        border-radius: 100px;
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}


a.button{
    text-decoration: none;
    font-family: $font2;
    font-size: 1.4em;
    font-weight: 700;
    box-sizing: border-box;
    position: relative;
    line-height: 3.2em;
    display: inline-block;
    text-align : center;
    cursor: pointer;
    letter-spacing: 1px;
    transition: color .6s, background-color .3s;
    &::before, &::after{
        content: '';
        position: absolute;
        height: .75em;
        width : .75em;
        transition: width .3s, height .3s;
        box-sizing: border-box;
    }
    &::before{
        left : 0;
        top : 0;
        border-top : solid 2px $color2;
        border-left : solid 2px $color2;
    }
    &::after{
        right : 0;
        bottom : 0;
        border-right : solid 2px $color2;
        border-bottom : solid 2px $color2;
    }

    .caption{
        padding : 0 1.85em;
    }

    &:hover {
        color: $color1;
        background-color: $color2;
    }
    &:hover::before{
        width : 100%;
        height: 100%;
    }
    &:hover::after{
        width : 100%;
        height: 100%;
    }
}


@media only screen and (max-width: 1100px) {

    body{
        font-size: 11px;
    }

}

@media only screen and (max-width: 800px) {
    body{
        font-size: 13px;
    }
    #nav{
        position: relative;
        width: 100%;
        height: auto;
        padding: 20px 0;
    }
    #home{
        display: block;
        .bottom{
            position: relative;
            padding: 50px 0 ;
        }
        .top{
            display: block;
            text-align: center;
            margin-top: 0;
            .dp{
                padding: 0 0 15px;
            }
        }
        .description{
            .tagline{
                display: inline-block;
            }
            .social{
                justify-content: center;
            }        
        }
    }
}
